<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:include="/fragments/bootstrap::header"></div>
    <title>User form</title>
</head>
<body>
<div th:include="/fragments/navbar::admin"></div>
<div class="d-inline-flex p-2 bd-highlight">
    <form action="#" class="form-general" method="post" th:action="@{/users}" th:object="${user}">
        <input th:field="*{id}" th:value="*{id}" type="hidden"/>
        <div class="form-group">
            <label>Nazwa użytkownika</label><br>
            <input class="form-control" placeholder="Nazwa użytkownika" th:field="*{userName}" type="text"
                   value="Zbyszek"/><br>
            <small class="form-text text-danger" th:errors="*{userName}" th:if="${#fields.hasErrors('userName')}">
                Błędy nick
            </small>
        </div>
        <div class="form-group">
            <label>Hasło</label><br>
            <input class="form-control" placeholder="Email" th:field="*{email}" type="text"/><br>
        </div>
        <small class="form-text text-danger" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">Błędy
            hasła
        </small>
        <div class="form-group">
            <label>Hasło</label><br>
            <input class="form-control" placeholder="Powtórz email" th:field="*{confirmEmail}" type="text"/><br>
        </div>
        <div class="form-group">
            <label>Hasło</label><br>
            <input class="form-control" placeholder="Hasło" th:field="*{password}" type="password"/><br>
        </div>
        <small class="form-text text-danger" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">Błędy
            hasła
        </small>
        <div class="form-group">
            <label>Powtórz hasło</label><br>
            <input class="form-control" th:field="*{confirmPassword}" type="password"/>
        </div>
        <button class="btn btn-primary" type="submit">Zapisz</button> &nbsp;
        <a class="btn btn-primary" href="#" th:href="@{/customers}">Anuluj</a>
    </form>
</div>
<div th:include="/fragments/bootstrap::body"></div>
</body>
</html>