<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:include="/fragments/bootstrap::header"></div>
    <title>Cruise form</title>
</head>
<body>
<div th:include="/fragments/navbar::admin"></div>
<div class="d-inline-flex p-2 bd-highlight">
    <form action="#" class="form-general" method="post" th:action="@{/customers}" th:object="${customer}">
        <input th:field="*{id}" th:value="*{id}" type="hidden"/>
        <div class="form-group">
            <label>Imię</label><br>
            <input class="form-control" placeholder="Imię" th:field="*{firstName}" type="text"
                   value="Zbyszek"/><br>
            <small class="form-text text-danger" th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}">
                Błędy
                imienia
            </small>
        </div>
        <div class="form-group">
            <label>Nazwisko</label><br>
            <input class="form-control" placeholder="Nazwisko" th:field="*{lastName}" type="text"/><br>
            <small class="form-text text-danger" th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}">Błędy
                nazwiska
            </small>
        </div>
        <div class="form-group">
            <label>PESEL</label><br>
            <input class="form-control" placeholder="PESEL" th:field="*{pesel}" type="number"/><br>
        </div>
        <div class="form-group">
            <label>Ulica</label><br>
            <input class="form-control" placeholder="Ulica" th:field="*{street}" type="text"/>
        </div>
        <div class="form-group">
            <label>Kod pocztowy</label><br>
            <input class="form-control" placeholder="Kod pocztowy" th:field="*{zipCode}" type="text"/>
        </div>
        <div class="form-group">
            <label>Miasto</label><br>
            <input class="form-control" placeholder="Miasto" th:field="*{city}" type="text"/>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" placeholder="Email" th:field="*{email}" type="text"/>
            <small class="form-text text-danger" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">Błedy
                Email
            </small>
        </div>
        <div class="form-group">
            <label>Telefon</label><br>
            <input class="form-control" placeholder="Telefon" th:field="*{phone}" type="number"/>
        </div>
        <div class="form-group">
            <label>Koszulka</label><br>
            <input class="form-control" placeholder="Koszulka" th:field="*{shirt}" type="text"/>
        </div>
        <button class="btn btn-primary" type="submit">Zapisz</button> &nbsp;
        <a class="btn btn-primary" href="#" th:href="@{/customers}">Anuluj</a>
    </form>
</div>
<div th:include="/fragments/bootstrap::body"></div>
</body>
</html>